@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #FFFFFF50;
}

html, body {
  padding: 0;
  margin: 0;
  color: #210b03;
}

html, body {
  margin: 0;
  padding: 0;
}

.leaflet-div-icon {
  background: none !important;
  border: none !important;
} 

.leaflet-control-zoom {
  display: none !important;
}


.grayscale-tilelayer {
  filter: sepia(100%) grayscale(70%) brightness(40%) contrast(100%)
}

.leaflet-popup-content-wrapper {
  border-radius: 2px !important;
  backdrop-filter: blur(4px);
  background: var(--white) !important;
  padding: 5px 20px 5px 10px !important;
}

.leaflet-popup-content-wrapper p {
  margin: 0 !important;
}

.leaflet-popup-content {
  min-width: min-content;
}

.leaflet-popup-tip {
  background: var(--white) !important;
  backdrop-filter: blur(1px);
}